{% extends 'base.html' %} {% block content %}
<div class="ml-4 md:ml-16 mt-8">
  <h2
    class="font-bold text-3xl m-w-40 text-slate-600 uppercase flex justify-center mb-3"
  >
    About Bird Species Prediction Project
  </h2>

  <p class="mb-6">
    Welcome to our Bird Species Prediction Project! This project utilizes
    machine learning to predict the species of a bird based on the provided
    image.
  </p>

  <h3 class="text-2xl font-bold mb-2">How It Works</h3>
  <p class="mb-6">
    Our model is trained using a dataset of 38 endangered bird species of Nepal.
    It leverages deep learning techniques to analyze and classify images of
    birds, providing accurate predictions of the species.
  </p>

  <h3 class="text-2xl font-bold mb-2">Supported Bird Species</h3>
  <p class="mb-6">
    The model supports a wide range of bird species, including but not limited
    to:
  </p>

  <ul class="flex flex-row flex-wrap gap-2 font-md text-sm">
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Abbott’s Babbler Malacocincla abbotti</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Black Bittern (Dupetor flavicollis)</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Blue-eared Kingfisher Alcedo meninting</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Blue-naped Pitta Pitta nipalensis</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Broad-billed Warbler Tickellia hodgsoni</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Cheer Pheasant (Catreus wallichii)</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Chestnut Munia Lonchura atricapilla</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Cinereous Vulture Aegypius monachus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Golden Babbler Stachyris chrysaea</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Goulds Shortwing Brachypteryx stellata</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Great Bittern Botaurus stellaris</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Great Hornbill (Buceros bicornis)</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Great Slaty Woodpecker Mulleripicus pulverulentus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Ibisbill Ibidorhyncha struthersii</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Indian Courser Cursorius coromandelicus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Indian Grassbird - Graminicola bengalensis</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Indian Nightjar Caprimulgus asiaticus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Knob-billed Duck Sarkidiornis melanotos</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Northern Pintail Anas acuta</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Painted Stork Mycteria leucocephala</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Purple Cochoa Cochoa purpurea</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Red-headed Trogon Harpactes erythrocephalus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Red-headed Vulture Sarcogyps calvus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Red-necked Falcon Falco chicquera</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Ruby-cheeked Sunbird Anthreptes singalensis</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Rusty-fronted Barwing Actinodura egertoni</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Saker Falcon Falco cherrug</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Silver-eared Mesia Leiothrix argentauris</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Slaty-legged Crake Rallina eurizonoides</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Spot-bellied Eagle Owl Bubo nipalensis</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Sultan Tit Melanochlora sultanea</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Swamp Francolin Francolinus gularis</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Tawny-bellied Babbler Dumetia hyperythra</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Thick-billed Green Pigeon Treron curvirostra</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>White-throated Bulbul Alophoixus flaveolus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>White-throated Bushchat Saxicola insignis</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Yellow-rumped Honeyguide - Indicator xanthonotus</li>
    </div>
    <div class="w-40 bg-gray-600 text-white rounded-md p-2 mb-2">
      <li>Yellow-vented Warbler Phylloscopus cantator</li>
    </div>
  </ul>

  <h3 class="text-2xl font-bold mb-2">Technologies Used</h3>
  <ul class="list-disc ml-4 md:ml-8 mb-6">
    <li>Convolution Neural Network (CNN) for Model Building</li>
    <li>Django Framework</li>
    <li>Django REST framework</li>
    <li>TensorFlow for machine learning</li>
    <li>Tailwind Css for Styling</li>
  </ul>
</div>
{% endblock %}
