<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Include your common CSS stylesheets here -->
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2024 Bird Classification. All rights reserved.</p>
    </footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
