<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="form">
        <h2>Login</h2>
        <input type="email" name="email" placeholder="Enter Email">
        <input type="password" name="password" placeholder="Enter Password">
        <button class="btnn"><a href="home.html">Login</a></button>

        <p class="link">Don't have an account<br>
            <a href="#">Sign up </a> here</p>
    </div>

</body>
</html>
