{% load static %}
<div class="flex flex-col md:flex-row justify-between m-5 text-center">
  <div class="">
    <!-- <a href="{% url 'index' %}">
      <img
        src="{% static 'images/10.png' %}"
        alt="logo"
        class="h-28 w-auto"
      />
    </a> -->
    <a href="{% url 'index' %}">
      <h1 class="font-extrabold text-3xl md:ml-20">Bird <span class="inline-block text-center bg-purple-400 text-2xl text-white rounded-md p-1">App</span></h1>
    </a>
  </div>
  <div class="flex flex-row justify-between gap-16 mt-5 mb:mt-0 md:mr-10">
    <a href="{% url 'index' %}" class="hover:text-purple-400 hover:duration-300 hover:ease-in-out">Home</a>
    <a href="{% url 'renderHome' %}" class="hover:text-purple-400 hover:duration-300 hover:ease-in-out">Prediction</a>
    <a href="{% url 'about' %}" class="hover:text-purple-400 hover:duration-300 hover:ease-in-out">About Us</a>
  </div>
</div>
